<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/vendor/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="container section">
    <div class="row">
        <div class="center col s12">
            This will redirect you to another page.
            <br>
            <a id="redirect-button" class="btn waves-effect waves-light col s12" type="submit" href="{{.GetOauthUrl}}">Submit
                <i class="material-icons right">send</a>
            </a>
        </div>
    </div>
</div>




<script src="/vendor/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/vendor/js/materialize.min.js"></script>

</body>
</html>